i{
    text-decoration: none;
    color: #177ca0;

}
.ver-mas{
    border:1px solid #177ca0;
    text-decoration: none;
    color: #177ca0;
    padding: 10px 15px;
    border-radius: 10px;
}

.ver-mas:hover{
    color:white;
    background-color: #177ca0;
}




#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100000;
    transition: top 0.3s ease-in-out;
    background-color:  #37718E;
}

body {
    padding-top: 120px;
    background: linear-gradient(150deg, #e5e5e5 25%, #177ca0 );
}

@media (max-width: 820px) {
    #navbar {
        min-height: 120px; 
    }

    body {
        padding-top: 160px; 
    }
}