

  

  /*Cards comienzan acá*/

 
  
  .card {
    background: #ffffff;
    border: 1px solid #177ca0;
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;  
    overflow: hidden;
    padding: 0;
}

.card:hover {
    transform: translateY(-5px);
}

.card img{
    height: 10rem;
    width: 100%;
    /*margin: 10px;*/
    object-fit: contain;
    border-radius: 8px 8px 0 0;
    transition: transform 0.5s ease;
    display: block;
    margin: 0px;
    padding-top: 5px;
    padding-inline: 5px;

}
.card img:hover{
    /*width: 12rem;
    transform: translateY(-15px);*/
    transform: scale(1.05);
}

.card-title{
       padding-top: 5px;
}

.ver-mas{
    border:1px solid #177ca0;
    text-decoration: none;
    color: #177ca0;
    padding: 10px 15px;
    border-radius: 10px;
}

.ver-mas:hover{
    color:white;
    background-color: #177ca0;
}

.comprar{
    border:1px solid rgb(214, 137, 16);
    text-decoration: none;
    color:white;
    background-color: rgb(214, 137, 16);
    padding: 10px 15px;
    border-radius: 10px;
}

.comprar:hover{
    background-color:rgb(151 97 13);
    border:1px solid rgb(151 97 13);

}
.container-btn-card{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: end;
}

.detail-cont{
    justify-content: space-between;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    background-color:  #37718E;
}

body {
    padding-top: 115px;
    background: linear-gradient(150deg, #e5e5e5 25%, #177ca0 );
}

@media (max-width: 768px) {
    #navbar {
        min-height: 120px; 
    }

    body {
        padding-top: 160px; 
    }
}

