main{
    background: url("../assets/imgs/back_falopa.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


  

  /*Cards comienzan acá*/

 
  
  .card {
    background: #fff6f6;
    border: 1px solid rgb(214, 137, 16);
    color: rgb(0, 0, 0);
    margin-bottom: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;  
}

.card:hover {
    transform: translateY(-5px);
}

.card img{
    height: 10rem;
    width: 10rem;
    margin: 10px;
    object-fit: cover;
    border-radius: 10px;
    transition: width .5s ease-in-out, transform 0.5s ease;

}
.card img:hover{
    width: 12rem;
    transform: translateY(-15px);
}

.card-title{
       padding-top: 5px;
}

.ver-mas{
    border:1px solid rgb(214, 137, 16);
    text-decoration: none;
    color: rgb(214, 137, 16);
    padding: 10px 15px;
    border-radius: 10px;
}

.ver-mas:hover{
    color:white;
    background-color: rgb(214, 137, 16);
}

.comprar{
    border:1px solid rgb(214, 137, 16);
    text-decoration: none;
    color:white;
    background-color: rgb(214, 137, 16);
    padding: 10px 15px;
    border-radius: 10px;
}

.comprar:hover{
    background-color:rgb(151 97 13);
    border:1px solid rgb(151 97 13);

}
.container-btn-card{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    align-items: end;
}

.detail-cont{
    justify-content: space-between;
}